<br/><br/><br/><br/>
<div class="footer">
    <div class="container">
        <table class="footer-table" width="100%">
            <tr>
                <td width="30%">
                    <span class="footer-topic">Find Us</span>
                    <hr/>
                    <span class="bold">Address: </span>
                    Main Street, Maynard, MA 01754
                    <br/>
                    <span class="bold">Email: </span>
                    info@chloe-nomura-home.com
                    <br/>
                    <span class="bold">Phone: </span>
                    (555) 555-1234
                </td>
                <td width="25%">
                    <span class="footer-topic">Partner with Us</span>
                    <hr/>
                    <p>
                        We are always looking for new partners to help us grow and expand our reach.
                        Please <a style="text-decoration: underline;" href="{{ url_for('contact') }}">contact us</a> if you are interested in partnering with us.
                    </p>
                </td>
                <td width="25%">
                    <span class="footer-topic">Our Privacy Policy</span>
                    <hr/>
                    <p>
                        Our privacy policy is simple: we do not use cookies, we do not track your activity, and we do not sell your information.
                    </p>
                </td>
                <td width="20%">
                    <span class="bold peacock-blue">Follow Us</span>
                    <hr/>
                    <div class="footer-social-links">
                        <a href="https://www.facebook.com/chloe-nomura-home-furnishing"
                           class="footer-social-link footer-social-link-facebook"
                           aria-label="Facebook"></a>
                        <a href="https://www.instagram.com/chloe-nomura-home-furnishing"
                           class="footer-social-link footer-social-link-instagram"
                           aria-label="Instagram"></a>
                        <a href="https://www.twitter.com/chloe-nomura-home-furnishing"
                           class="footer-social-link footer-social-link-x"
                           aria-label="X (Twitter)"></a>
                    </div>
                    <br/><br/>
                    <div class="footer-payment-methods">
                        <span class="footer-topic">Payment Partners</span>
                        <hr/>
                        <p>
                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="PayPal" class="footer-payment-method-logo">
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <p class="footer-copyright center">Chloe Nomura Home Furnishing, LLC © 2025. All Rights Reserved.</p>
    </div>
</div>
